:root {
    --accent-colour: hsla(295deg, 85%, 35%, 0.85);
    --text-colour: hsla(300deg, 65%, 92.5%, 0.85);
    --background-colour: hsla(270deg, 10%, 8.25%, 1.0);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--background-colour);
}

main {
    width: 85vw;
    padding: 2.5em;
    margin: 2.5em;

    border: 0.25em solid var(--accent-colour);
    border-radius: 0.325em;
}

h1 {
    font-size: 2.5em;
    font-family: monospace;
    font-weight: bold;

    text-decoration: underline;
    color: var(--accent-colour);
}

#main-header {
    text-align: center;
    font-size: 6.5em;
    text-decoration: none;
}

p, a{
    font-family: monospace;
    font-size: 1.625em;

    color: var(--text-colour);
}

#times-table-section {
    margin: 0.0625em;
    padding: 0.0625em;

    text-align: center;
    font-size: 3.25em;
}

#times-table-question {
    font-weight: bolder;
}

a {
    font-weight: bold;

    animation: none;
    transition: font-size 0.5s;
}

a:hover {
    font-size: 1.725em;
}

a:active {
    color: var(--accent-colour);
}

button {
    padding: 0.25em;
    background: none;

    font-size: 0.5em;
    color: var(--text-colour);

    border: 0.085em solid var(--accent-colour);
    border-radius: 0.175em;   
}

button:active {
    background-color: var(--accent-colour);
}

input {
    text-align: center;
    font-size: 1em;
    color: var(--text-colour);

    border: 0.1125em solid var(--accent-colour);
    border-radius: 0.175em;

    transition: 0.5s;
}

input:focus {
    border: 0.1125em solid var(--accent-colour);
    outline: 0.25em solid var(--text-colour);
}

#times-table-input {
    width: 3.25em;  
}