:root {
    --accent-colour: hsla(295deg, 85%, 35%, 0.95);
    --text-colour: hsla(300deg, 65%, 92.5%, 0.85);
    --background-colour: hsla(270deg, 10%, 8.25%, 1.0);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
    margin: 0px;
    background-attachment: fixed;

    background-color: var(--background-colour);
}

main {
    width: 65vw;
    padding: 2.5em;
    margin: 0px;

    border: 0.25em outset var(--accent-colour);
    border-radius: 0.325em;

    box-shadow: 1em 1em black;

    animation: fadeIn 0.25s;
    transition: all 0.25s;
}

h1 {
    font-size: 2.5em;
    font-family: monospace;
    font-weight: bold;

    text-decoration: underline;
    color: var(--accent-colour);
}

#main-header {
    text-align: center;
    font-size: 6vw;
    text-decoration: none;
    text-shadow: 0.125em 0.125em black;
}

p, a, label {
    font-family: monospace;
    font-size: 1.625em;

    text-shadow: 0.125em 0.125em 0.075em black;

    color: var(--text-colour);
}

#times-table-section {
    margin: 0.0625em;
    padding: 0.0625em;

    text-align: center;
    font-size: 2em;
}

#times-table-question {
    margin: 0.25em;
    font-weight: bolder;
}

#answer-feedback {
    font-size: 0.825em;

    animation: fadeIn 0.25s;
}

a {
    font-weight: bold;

    animation: none;
    transition: font-size 0.5s;
}

a:hover {
    font-size: 1.725em;
}

a:active {
    color: var(--accent-colour);
}

button {
    margin: 0.75em;
    padding: 0.25em;
    background: none;
    

    font-size: 0.825em;
    color: var(--text-colour);

    border: 0.085em solid var(--accent-colour);
    border: 0.1em outset var(--accent-colour);

    border-radius: 0.175em; 
}

button:active {
    background-color: var(--accent-colour);
}

input {
    text-align: center;
    font-size: 1em;
    color: var(--text-colour);
    background-color: var(--background-colour);

    border: 0.0825em solid var(--accent-colour);
    border: 0.1em inset var(--accent-colour);
    border-radius: 0.175em;

    transition: 0.25s;
}

input:focus {
    border: 0.0825em solid var(--accent-colour);
    outline: 0.25em solid var(--text-colour);
}

label {
    display: block;
    cursor: pointer;
}

#times-table-answer-input {
    width: 2.5em;  
}

#times-table-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#times-table-checkboxes {
    display: flex;
    flex-flow: row wrap;
}

#times-table-checkboxes label {
    margin-right: 0.75em;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    
    width: 1.25em;
    height: 1.25em;
    vertical-align: bottom;
    position: relative;
    top: 0.25em;

    border: 0.1em inset var(--accent-colour);

    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: var(--accent-colour);
}

#submit-times-table-settings {
    font-size: 1.25em;
}

#user-score {
    font-size: 1em;
}

#spelling-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.5em;
}

#spelling-settings input {
    width: 10em;
}

#spelling-settings-buttons button {
    margin: 0.325em;
    margin-top: 1.5em;
}

#submitted-words {
    text-align: center;
}