:root {
    --accent-colour: hsla(295deg, 85%, 45%, 1.0);
    --text-colour: hsla(300deg, 65%, 92.5%, 0.85);
    --background-colour: hsla(270deg, 10%, 8.25%, 1.0);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

html {
    width: 100%;
    height: auto;
    min-height:100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;

    font-family: monospace;

    background-color: var(--background-colour);
    background-image: url(./images/purpfish_coral.png);
    background-size: 90em;
    background-position: bottom;
    background-repeat: repeat-x;
}

main {
    width: 65vw;
    padding: 2.5em;
    margin: 0px;

    background-color: var(--background-colour);

    border: 0.25em outset var(--accent-colour);
    border-radius: 0.325em;

    box-shadow: 1em 1em black;

    animation: fadeIn 0.25s;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#purpfish-logo {
    width: 7.5vw;
    padding: 1vw;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;

    color: var(--accent-colour);

    text-decoration: underline;
}

#main-header {
    text-align: center;
    font-size: 6vw;
    
    text-decoration: none;
    text-shadow: 0.125em 0.125em black;
}

p, a, label {
    font-size: 1.625em;

    color: var(--text-colour);

    text-shadow: 0.125em 0.125em 0.075em black;
}

a {
    font-weight: bold;

    animation: none;
    transition: font-size 0.5s;
}

a:hover {
    font-size: 1.725em;
}

a:active {
    color: var(--accent-colour);
}

button {
    margin: 0.75em;
    padding: 0.25em;    

    font-size: 0.825em;
    color: var(--text-colour);

    background: none;

    border: 0.085em solid var(--accent-colour);
    border: 0.1em outset var(--accent-colour);
    border-radius: 0.175em; 
}

button:active {
    background-color: var(--accent-colour);
}

input {
    text-align: center;
    font-size: 1em;
    color: var(--text-colour);
    
    background-color: var(--background-colour);

    border: 0.0825em solid var(--accent-colour);
    border: 0.1em inset var(--accent-colour);
    border-radius: 0.175em;

    transition: 0.25s;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    
    width: 1.25em;
    height: 1.25em;

    position: relative;
    vertical-align: bottom;
    top: 0.25em;

    border: 0.1em inset var(--accent-colour);

    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: var(--accent-colour);
}

input:focus {
    border: 0.0825em solid var(--accent-colour);
    outline: 0.25em solid var(--text-colour);
}

label {
    display: block;
    cursor: pointer;
}

#question-section, #social-info-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.05em;
    padding: 0.05em;

    text-align: center;
    font-size: 1.5em;
}

#answer-feedback {
    font-size: 0.825em;
}

#user-score {
    font-size: 1em;
}

#times-table-answer-input {
    width: 2.5em;  
}

#times-table-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#times-table-checkboxes {
    display: flex;
    flex-flow: row wrap;
}

#times-table-checkboxes label {
    margin-right: 0.75em;
}

#submit-times-table-settings {
    font-size: 1.25em;
}

#times-table-question {
    margin: 0.25em;

    font-weight: bolder;
}

#spelling-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#spelling-settings input {
    width: 10em;

    font-size: 1.5em;
}

#spelling-settings-buttons {
    font-size: 1.5em;
}

#spelling-settings-buttons button {
    margin: 0.325em;
    margin-top: 1.5em;
}

#submitted-words {
    text-align: center;
}

.task-hint {
    text-align: center;
}

#spelling-speak-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.825em;
    height: 1.825em;
    margin: 0.25em;

    font-size: 1.425em;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;

  font-size: 1em;
}

#spelling-input {
    width: 7.5em;
}

#social-info-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#social-info-settings input[type="date"]{
    text-align: center;
    width: 14.25em;
}

#social-info-settings button {
    margin-top: 1.5em;

    font-size: 1.25em;
}

#social-info-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#social-info-questions input {
    width: 20em;
}

.task-description {
    text-align: center;
}

